---
export interface Props {
  latitude: number
  longitude: number
  zoom: number
  /** the DOM ID of a <div> element */
  container: string
  /** https://leafletjs.com/reference.html#tilelayer */
  tileLayer: string
  /** Most tile servers require attribution. */
  attribution: string
  containerstyle?: string
}

const {
  latitude,
  longitude,
  zoom,
  container,
  tileLayer,
  attribution,
  containerstyle = "height: 61.8vh",
} = Astro.props
---

<leaflet-map
  data-latitude={latitude}
  data-longitude={longitude}
  data-zoom={zoom}
  data-container={container}
  data-tiles={tileLayer}
  data-attribution={attribution}
  data-containerstyle={containerstyle}
>
  <div id={container} style={containerstyle}></div>
  <script>
    import "leaflet/dist/leaflet"
    import "leaflet/dist/leaflet.css"

    class LeafletMap extends HTMLElement {
      constructor() {
        super()

        const latlng = [
          Number(this.dataset.latitude),
          Number(this.dataset.longitude),
        ]

        var map = window.L.map(this.dataset.container).setView(
          latlng,
          Number(this.dataset.zoom)
        )

        window.L.tileLayer(this.dataset.tiles, {
          attribution: this.dataset.attribution,
        }).addTo(map)
          
        // Modificar el marker por defecto
        var myIcon = window.L.icon({
          iconUrl: 'images/icons/marker.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });
        window.L.marker(latlng, {icon: myIcon})
          .addTo(map)
          .bindPopup("Aquopolis Villanueva de la Cañada");
      }
    }

    window.customElements.define("leaflet-map", LeafletMap)
  </script></leaflet-map
>
