---
// import FaqImage from "@/assets/images/faq.webp"
import FaqImage from "@/assets/images/gallery/gallery_04.webp"
import { Image } from "astro:assets"
---

<section id="faq">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div
        class="flex flex-col items-center justify-center sm:gap-y-4 lg:col-span-5 lg:items-start"
      >
        <h2 class="text-3xl font-semibold tracking-tight text-pretty text-white sm:text-4xl">
          Preguntas frecuentes
        </h2>
        <div
          class="card group relative mt-4 bg-cover bg-center outline-0 transition-transform duration-100"
          data-color="have"
        >
          <Image
            src={FaqImage}
            width={384}
            height={576}
            alt="Lola Lolita firmando autógrafos en un escenario."
            class="card-front-image card-image h-auto w-full max-w-sm rounded-[2rem]"
          />
          <div class="card-faders">
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos1"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos2"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos3"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos4"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos5"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos6"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos7"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
            <Image
              width={384}
              height={576}
              alt={"Lola Lolita firmmando autografos8"}
              class="card-fader card-image rounded-[2rem]"
              src={FaqImage}
            />
          </div>
        </div>
      </div>
      <div class="mt-10 pt-12 lg:col-span-7 lg:mt-0">
        <dl class="space-y-10">
          <div>
            <dt class="font-semibold text-white">¿Pueden ir menores de edad al evento?</dt>
            <dd class="mt-1 max-w-2xl text-sm text-pretty text-pink-100">
              Sí, los menores de edad pueden asistir al evento siempre y cuando estén acompañados
              por un adulto. Además, se requiere la firma de un documento de responsabilidad por
              parte del adulto. <a
                class="bg-primary-light hover:text-primary inline-block max-w-full rounded-lg p-1 px-2 text-center break-words text-white transition hover:bg-white/85"
                href="/hoja-de-responsabilidad.pdf"
                target="_blank"
                rel="noopener noreferrer">Descarga el documento y llévalo firmado al evento.</a
              >
            </dd>
          </div>

          <div>
            <dt class="font-semibold text-white">¿Cuántos días va a durar?</dt>
            <dd class="mt-1 max-w-2xl text-sm text-pretty text-pink-100">
              Son dos días, el 14 y 15 de junio de 2025.
            </dd>
          </div>

          <div>
            <dt class="font-semibold text-white">¿Dónde se celebra?</dt>
            <dd class="mt-1 max-w-2xl text-sm text-pretty text-pink-100">
              En el parque Aquopolis de Madrid, en Villanueva de la Cañada.
            </dd>
          </div>

          <div>
            <dt class="font-semibold text-white">¿Asistirá Lola Lolita?</dt>
            <dd class="mt-1 max-w-2xl text-sm text-pretty text-pink-100">
              Sí, Lola Lolita estará allí con unas cuantas sorpresas.
            </dd>
          </div>

          <div>
            <dt class="font-semibold text-white">
              ¿Hay comida para celíacos, veganos y vegetarianos?
            </dt>
            <dd class="mt-1 max-w-2xl text-sm text-pretty text-pink-100">
              ¡Por supuesto que sí! Hay opciones para todos los gustos y necesidades. ¡Nadie se
              quedará sin disfrutar de este día!
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>

<style>
  body:has(.card[data-color="have"]:hover) {
    background-color: #66dfff;
    transition: 0.5s ease-in-out;
  }

  .card {
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: scale 100ms;
  }

  .card .card-front-image {
    position: relative;
    z-index: 2;
  }

  .card .card-image {
    width: clamp(300px, 20vw, 500px);
    aspect-ratio: 2 / 3;
    border-radius: clamp(0.5rem, 0.75vw, 2rem);
  }

  .card-faders {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1500ms;
    pointer-events: none;
  }

  .card:hover .card-faders {
    opacity: 1;
  }

  .card:active {
    scale: 0.98;
  }

  .card-fader {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .card-fader:nth-child(odd) {
    animation: fade-left 3s linear infinite;
  }

  .card-fader:nth-child(even) {
    animation: fade-right 3s linear infinite;
  }

  .card-fader:is(:nth-child(3), :nth-child(4)) {
    animation-delay: 750ms;
  }

  .card-fader:is(:nth-child(5), :nth-child(6)) {
    animation-delay: 1500ms;
  }

  .card-fader:is(:nth-child(7), :nth-child(8)) {
    animation-delay: 2250ms;
  }

  @media (max-width: 1200px) {
    .card .card-image {
      width: 400px;
    }
  }

  @media (max-width: 600px) {
    .card {
      width: 80%;
    }

    .card .card-image {
      width: 100%;
    }
  }

  @keyframes fade-left {
    from {
      scale: 1;
      translate: 0%;
      opacity: 1;
    }

    to {
      scale: 0.8;
      translate: -30%;
      opacity: 0;
    }
  }

  @keyframes fade-right {
    from {
      scale: 1;
      translate: 0%;
      opacity: 1;
    }

    to {
      scale: 0.8;
      translate: 30%;
      opacity: 0;
    }
  }
</style>
