---
import LeafletMap from "@/components/LeafletMap.astro"
import { lolalolitalandGeoJSON, potaBlavaGeoJSON } from "@/consts/geoJSONData.ts"
---

<section id="mapa" class="">
  <h2
    class="mx-auto flex flex-row items-center justify-center gap-x-4 py-4 text-left text-lg font-semibold tracking-tight text-balance text-white md:gap-x-8 md:py-6 md:text-2xl lg:py-8 lg:pb-4 lg:text-3xl xl:text-4xl"
  >
    ¡Nos vemos aquí!
  </h2>
  <h4 class="flex flex-col items-center justify-center gap-1.5 text-white md:flex-row">
    LolaLolita Land se celebra en <a
      href="https://maps.app.goo.gl/QEWvh6e1cAZoqhCS7"
      target="_blank"
      rel="noopener"
      class="bg-primary-light hover:text-primary animate-ease-in-out inline-block max-w-full rounded-lg px-2 py-1 text-center break-words text-white transition hover:bg-white/85"
      >Aquopolis Villanueva de la Cañada</a
    >
  </h4>
</section>
<div class="p-4">
  <div
    class="relative mx-4 mt-8 mb-32 h-[61.8vh] max-w-6xl overflow-hidden rounded-[2rem] lg:mx-auto"
  >
    <LeafletMap
      latitude={40.45673263671421}
      longitude={-3.990346247363024}
      zoom={16}
      tileLayer="https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png"
      geoJSON={[
        { data: lolalolitalandGeoJSON, color: "var(--color-primary)" },
        { data: potaBlavaGeoJSON, color: "green" },
      ]}
    />
  </div>
</div>
