---
import LeafletMap from "@/components/LeafletMap.astro"
import { lolalolitalandGeoJSON } from "@/consts/geoJSONData.ts"
import { potaBlavaGeoJSON } from "@/consts/geoJSONData.ts"
---

<section id="mapa" class="h-[61.8vh]">
  <LeafletMap
    latitude={40.45673263671421}
    longitude={-3.990346247363024}
    zoom={15}
    tileLayer="https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png"
    attribution="© OpenStreetMap © CARTO"
    geoJSON={[
      { data: lolalolitalandGeoJSON, color: "var(--color-primary)" },
      { data: potaBlavaGeoJSON, color: "green" },
    ]}
  />
</section>
